name: Build

on:
  push:
  pull_request:

jobs:
  test:
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4

      # v4.0.0. https://github.com/asdf-vm/actions/tree/v4.0.0
      - uses: asdf-vm/actions/setup@b7bcd026f18772e44fe1026d729e1611cc435d47

      - run: asdf plugin add chicken $GITHUB_WORKSPACE

      - id: get_chicken_version
        run: echo "version=$(asdf list all chicken | grep '^[0-9]\.[0-9]\.[0-9]$' | tail -n 1)" | tee -a $GITHUB_OUTPUT

      - run: asdf install chicken ${{ steps.get_chicken_version.outputs.version }}
      - run: asdf set chicken ${{ steps.get_chicken_version.outputs.version }}

      # fix error "Library not loaded: libchicken.dylib"
      - if: runner.os == 'macOS'
        run: |
          chicken_install_path="$(asdf where chicken)"
          echo "DYLD_LIBRARY_PATH=${chicken_install_path}/lib" >> "$GITHUB_ENV"
          echo "DYLD_FALLBACK_LIBRARY_PATH=${chicken_install_path}/lib" >> "$GITHUB_ENV"

      - run: chicken -help
