name: Lint

on:
  push:
  pull_request:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      # v4.0.0. https://github.com/asdf-vm/actions/tree/v4.0.0
      - uses: asdf-vm/actions/install@b7bcd026f18772e44fe1026d729e1611cc435d47

      - run: scripts/lint.bash
